<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicog.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">  引用theader。tpl的-->
{{template  "header"}}
<title>首页</title>
</head>
<body>
<!--移动到t.navgator.tpl -->
<div lass="navbar navbar-default navbar-fixed-top">
    <div class="container">
    {{template  "navbar"  .}}
        <!-- <a class="navbar-brand" href="/">my博客</a>
        <ul class="nav navbar-nav">
            <li class="active"> <a href="">首页</a></li>
            <li class="active"> <a href="">分类</a></li>
            <li class="active"> <a href="">文章</a></li>
        </ul> -->
    </div>
</div>

<div class="container">
    <h1>分类列表</h1>

    <form method="GET" action="/category">
        <div class="form-group">
            <label for="exampleInputEmail1">分类名称</label>
            <input id="name" class="form-control" placeholder="Enter account" name="name">
        </div>
        <!-- returnfalse 会在这个地方等待-->
        <input type="hidden" name="op" value="add">
        <button type="submit" class="btn btn-default" onclick="return checkInput()">添加</button>
    </form>

    <script type="text/javascript">
        function checkInput() {
            var name=document.getElementById("name");
            if(name.value.length == 0) {
                alert("请输入名称");
                return false;
            }
            return true;
        }
    </script>

    <!-- 加一个表 -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>文章数</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{range .Categories}}
            <tr>
            <th>{{.Id}}</th>
            <th>{{.Title}}</th>
            <th>{{.TopicCount}}</th>
                <th>{{.Created}}</th>
            <th>
                <a href="/category?op=del&id={{.Id}}">删除</a>
            </th>
            </tr>
                    {{end}}
        </tbody>
    </table>

</div>
<!-- 七牛与的jQuery -->
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>

 </html>
